Repository OpenUp-LabTakizawa/dcrs, pull requests merged in 2024-04, with the labels that each got.

#323 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#325 🆙bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#326 🐳docker: update Dockerfile
  Dockerfile
  bun.lockb
  package.json
Labels: 📦dependencies, docker

#328 🐳docker: update Dockerfile
  Dockerfile
Labels: 📦dependencies, docker

#330 ♻️refactor: make typed interfaces and more readable
  app/interfaces/checklist.ts
  app/interfaces/profile.ts
  app/register/components/confirmDialog.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
  app/register/page.tsx
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ✨feature

#331 feat: adding a function to save an image file to an object storage
  app/api/user/route.tsx
  app/lib/s3.tsx
  app/register/components/confirmDialog.tsx
  app/register/components/cvtDataUrl2File.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, ✨feature

#333 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#335 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#336 📦package: remove @types/node module
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#337 🐳docker: add database env values
  .env
  .github/workflows/lambda.yml
  .github/workflows/push-image.yml
  Dockerfile
Labels: ♻️ci, docker

#338 🐳docker: revert base image
  Dockerfile
Labels: docker

#340 ♻️refactor: amazon s3 upload functions
  app/api/image/[key]/route.ts
  app/api/user/route.ts
  app/api/user/route.tsx
  app/lib/s3.tsx
  app/lib/s3client.ts
  app/register/components/confirmDialog.tsx
  app/register/components/cvtDataUrl2File.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
Labels: 📦dependencies, ✨feature

#344 🐳docker: remove gitlens from devcontainer
  .devcontainer/devcontainer.json
Labels: 🧰infrastructure

#345 ✨feat: add metadataBase
  app/layout.tsx
Labels: ✨feature

#346 🐳docker: remove .env file
  .env
  .github/workflows/lambda.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
  .gitignore
  Dockerfile
  app/users/page.tsx
Labels: ✨feature, 🪸git, ♻️ci, docker

#347 🐳docker: fix build error
  .env.development
  .env.production
  .github/workflows/lambda.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
  Dockerfile
  app/users/page.tsx
Labels: ✨feature, ♻️ci, docker

#348 🐳docker: version up lambda web adapter
  Dockerfile
Labels: docker

#352 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#353 🧰infra: remove unused components directory
  .github/labeler.yml
  .github/workflows/bun-test.yml
  .github/workflows/cleanup-cashes.yml
  .github/workflows/lambda.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
Labels: ♻️ci

#356 🔥delete: an old biome comment
  app/register/components/profileForm.tsx
Labels: ✨feature

#354 ✨feat: implement image preview
  .env.development
  .env.production
  .github/workflows/lambda.yml
  .github/workflows/push-image.yml
  Dockerfile
  app/@modal/(.)users/[key]/modal.tsx
  app/@modal/(.)users/[key]/page.tsx
  app/@modal/default.tsx
  app/api/image/[key]/route.ts
  app/default.tsx
  app/layout.tsx
  app/lib/getImage.ts
  app/lib/s3client.ts
  app/register/components/imageUploader.tsx
  app/users/[key]/page.tsx
  app/users/layout.tsx
  app/users/page.tsx
Labels: 📦dependencies, ✨feature, ♻️ci, docker

#357 🐳docker: add prisma to last stage
  Dockerfile
Labels: docker

#358 🐳docker: remove secret values
  .env.production
  .github/workflows/lambda.yml
  .github/workflows/push-image.yml
  Dockerfile
  app/lib/getUsers.ts
  app/users/page.tsx
Labels: ✨feature, ♻️ci, docker

#359 🚑fix: change cache no-store
  app/lib/getUsers.ts
Labels: ✨feature

#360 ✨feat: add loading UI
  app/users/components/tbody.tsx
  app/users/page.tsx
Labels: ✨feature

#362 🚑fix: add force-dynamic to image route.ts
  app/api/image/[key]/route.ts
Labels: ✨feature

#361 🚑fix: data fetch URL
  .env.production
Labels: ✨feature

#364 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#369 🔥delete: @aws-sdk/s3-request-presigner package
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#370 🔥delete: minio bucket
  .env.development
  .env.production
  app/lib/s3client.ts
Labels: ✨feature

#371 🏷️label: add env files
  .github/labeler.yml
Labels: ♻️ci

#372 🚑fix: change API URL
  .env.production
Labels: 🧰infrastructure

#373 🔥delete: react suspense
  app/users/page.tsx
Labels: ✨feature

#374 🔙revert: add react suspense
  app/users/page.tsx
Labels: ✨feature

#363 ✨feat: add getBaseUrl library
  .env.production
  app/lib/getImage.ts
  app/lib/getUsers.ts
Labels: 📦dependencies, ✨feature, 🧰infrastructure

#375 🚑fix: check API URL depends on host
  .env.production
Labels: ✨feature, 🧰infrastructure

#376 🚑fix: vercel API URL
  .env.production
  app/lib/getImage.ts
  app/lib/getUsers.ts
Labels: ✨feature, 🧰infrastructure

#377 🐳docker: revert secret env values
  .github/workflows/lambda.yml
  .github/workflows/push-image.yml
  Dockerfile
Labels: ♻️ci, docker

#378 🏷️rename: unify users
  app/api/users/route.ts
  app/lib/getUsers.ts
  app/users/components/tbody.tsx
  app/users/page.tsx
Labels: ✨feature

#379 ♻️ci: delete -y option
  .github/workflows/autofix.yml
Labels: ♻️ci

#380 ✅test: use vercel API URL
  .env.production
Labels: 🧰infrastructure

#381 🚑fix: revert API URL
  .env.production
  bun.lockb
  yarn.lock
Labels: 📦dependencies, 🧰infrastructure

#382 🐳docker: revert Dockerfile
  Dockerfile
Labels: docker

#384 🐳docker: set secret env values correctly
  Dockerfile
Labels: docker

#386 ⚙️config: add target to tsconfig.json
  bun.lockb
  tsconfig.json
  yarn.lock
Labels: 📦dependencies, ⚙️config

#387 ♻️ci: amazon ecr add multi push
  .github/workflows/push-image.yml
  prisma/schema.prisma
Labels: ♻️ci

#388 ♻️ci: refactor workflow dispatch option
  .github/workflows/push-image.yml
Labels: ♻️ci

#390 🚑fix: docker ci login action
  .github/workflows/push-image.yml
Labels: ♻️ci

#391 🚑fix: docker login method
  .github/workflows/push-image.yml
Labels: ♻️ci

#392 🚑fix: add amazon ecr image
  .github/workflows/push-image.yml
Labels: ♻️ci

#393 ♻️ci: add update lambda function
  .github/workflows/push-image.yml
Labels: ♻️ci

#394 🚑fix: typo script connection
  .github/workflows/push-image.yml
Labels: ♻️ci

#395 🚑fix: correct docker tag
  .github/workflows/push-image.yml
Labels: ♻️ci

#396 🔥delete: lambda.yml
  .github/workflows/lambda.yml
  .github/workflows/push-image.yml
Labels: ♻️ci

#397 🗼prisma: add another binarytarget
  .github/labeler.yml
  prisma/schema.prisma
Labels: ♻️ci

#398 🔙revert: remove prisma binarytarget
  prisma/schema.prisma
Labels: 🗼prisma

#400 🆙bump: update dependencies
  .github/workflows/push-image.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#401 🐳docker: add syntax to Dockerfile
  Dockerfile
Labels: docker

#402 ♻️ci: update Amazon ECR ci
  .github/workflows/push-image.yml
Labels: ♻️ci

#404 ⚙️config: update esnext target
  bun.lockb
  tsconfig.json
  yarn.lock
Labels: 📦dependencies, ⚙️config

#405 🆙bump: update dependencies
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .vscode/settings.json
  Dockerfile
  bun.lockb
  yarn.lock
Labels: 📦dependencies, 🆚vscode, ♻️ci, docker

#406 ♻️ci: refactor auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: ♻️ci

#407 🚑fix: revert secret values
  .github/workflows/push-image.yml
Labels: ♻️ci

#408 🐳docker: update .dockerignore
  .dockerignore
Labels: docker

#410 🚑fix: correct binarytargets
  .github/workflows/push-image.yml
  prisma/schema.prisma
Labels: ♻️ci, docker, 🗼prisma

#411 🐳docker: use node distroless image as runner instead of bun😭
  .github/workflows/push-image.yml
  Dockerfile
Labels: ♻️ci, docker

#412 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#414 📦package: add trustedDependencies of biome
  bun.lockb
  package.json
Labels: 📦dependencies

#415 🚑fix: old fetch path
  app/register/components/confirmDialog.tsx
Labels: ✨feature

#416 ✨feat: add revalidatePath to update cache
  app/api/users/route.ts
  app/lib/getImage.ts
  app/lib/getUsers.ts
Labels: ✨feature

#418 🐳docker: update build step
  Dockerfile
Labels: docker

#420 🚑fix: set up multi build
  .github/workflows/push-image.yml
Labels: ♻️ci

#422 ♻️ci: format style
  .github/workflows/auto-assign.yml
Labels: ♻️ci

#423 🆙bump: update dependencies
  .github/workflows/push-image.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#425 🐳docker: remove secret env values
  .github/workflows/docker.yml
  Dockerfile
Labels: ♻️ci, docker

#426 🚑fix: revert fetch revalidate time
  app/api/users/route.ts
  app/lib/getUsers.ts
Labels: ✨feature

#429 ✨feat: refactor scroll to top component
  app/components/scrollToTop.tsx
Labels: ✨feature

#430 ✨feat: format date
  app/users/page.tsx
Labels: ✨feature

#431 ✨feat: add Icons to homepage
  app/page.tsx
Labels: ✨feature

#432 ✨feat: add icons to users table index
  app/interfaces/indexlist.ts
  app/page.tsx
  app/users/page.tsx
Labels: ✨feature

#433 ✨feat: add tel and mail link to user table
  app/users/page.tsx
Labels: ✨feature

#435 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#436 📦package: delete sharp
  bun.lockb
  package.json
Labels: 📦dependencies

#437 ♻️ci: install sharp
  .github/workflows/node-build.yml
Labels: ♻️ci

#440 ♻️refactor: implicit type definition
  app/@modal/(.)users/[key]/modal.tsx
  app/@modal/(.)users/[key]/page.tsx
  app/@modal/default.tsx
  app/api/image/[key]/route.ts
  app/api/users/route.ts
  app/components/footer.tsx
  app/components/homeBtn.tsx
  app/components/scrollToTop.tsx
  app/components/step.tsx
  app/default.tsx
  app/layout.tsx
  app/lib/getImage.ts
  app/lib/prisma.ts
  app/lib/s3client.ts
  app/register/components/confirmDialog.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
  app/register/layout.tsx
  app/register/page.tsx
  app/register/success/page.tsx
  app/users/[key]/page.tsx
  app/users/layout.tsx
  app/users/page.tsx
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ✨feature

#443 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#444 🆙bump: update dependenciesd
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#447 🐳docker: revert base node image
  Dockerfile
Labels: docker

#438 ✨feat: implement download image function
  app/@modal/(.)users/[key]/modal.tsx
  app/@modal/(.)users/[key]/page.tsx
  app/components/downloadBtn.tsx
  app/components/step.tsx
  app/interfaces/steps.ts
  app/register/components/confirmDialog.tsx
  app/register/page.tsx
  app/register/success/page.tsx
  app/users/[key]/page.tsx
Labels: ✨feature

#450 🆙bump: update dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#451 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies
