Repository OpenUp-LabTakizawa/dcrs, pull requests merged in 2024-02, with the labels that each got.

#179 Develop branch first PR for code sharing
  bun.lockb
  components/imageInput.tsx
  components/imagePreview.tsx
  components/jsonView.tsx
  components/uploadFormHook.tsx
  yarn.lock
Labels: 📦dependencies, ✨feature

#184 🐳docker: run test at making Dockerfile
  .dockerignore
  Dockerfile
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, 🐳docker

#185 🐳docker: move bun test process
  Dockerfile
Labels: 🐳docker

#171 About adding image upload function
  bun.lockb
  components/imageInput.tsx
  components/imagePreview.tsx
  components/uploadFormHook.tsx
  yarn.lock
Labels: 📦dependencies, ✨feature

#186 📦bump: version up @types/react
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#187 ✅test: add mock to happydom.ts
  happydom.ts
Labels: ✅test

#188 📦bump: new release
  package.json
Labels: 📦dependencies

#190 📦bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#191 ✅ci: refactor push-image.yml
  .dockerignore
  .github/workflows/push-image.yml
  Dockerfile
Labels: ♻️ci, 🐳docker

#192 ♻️refactor: explicit import type React
  app/layout.tsx
Labels: ✨feature

#193 Development for components using localStorage
  .dockerignore
  .github/workflows/push-image.yml
  Dockerfile
  app/layout.tsx
  bun.lockb
  components/imageInput.tsx
  components/jsonView.tsx
  components/uploadFormHook.tsx
  components/useFormData.tsx
  happydom.ts
  package.json
  yarn.lock
Labels: 📦dependencies, ✨feature, ♻️ci, 🐳docker, ✅test

#194 🔥delete: `autoprefixer`
  bun.lockb
  package.json
  postcss.config.js
  yarn.lock
Labels: 📦dependencies, ⚙️config

#195 ♻️ci: change `main` to `canary` tags
  .github/workflows/push-image.yml
Labels: ♻️ci

#196 📦bump: version up @types/react
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#199 ♻️ci: add multi-platform installation
  .github/workflows/node-build.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#200 📦bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#204 Kazutan1230/develop
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#206 📦bump: update next.js
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#203 Kazutan1230/develop
  app/download/page.tsx
  components/useFormData.tsx
Labels: ✨feature

#208 📦bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#210 📦bump: version up dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#211 ♻️ci: delete sharp
  .github/workflows/node-build.yml
Labels: ♻️ci

#212 Kazutan1230/develop update
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, ♻️ci

#215 ♻️ci: update autofix.yml
  .github/workflows/autofix.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#216 ♻️ci: update autofix
  .github/workflows/autofix.yml
Labels: ♻️ci

#217 ⚙️config: disable 'noDefaultExport'
  biome.json
  bun.lockb
  yarn.lock
Labels: 📦dependencies, 🧰infrastructure

#222 ♻️ci: prevent multi assignees
  .github/workflows/auto-assign.yml
Labels: ♻️ci

#221 ♻️ci: add lambda CI/CD workflow
  .github/workflows/lambda.yml
  Dockerfile
Labels: ♻️ci, 🐳docker

#226 update package
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#229 Test page
  app/page.test.tsx
  app/page.tsx
Labels: ✅test

#236 ⬆️bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#238 ⬆️bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#240 ⬆️bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#237 ✨feat: add '@tailwindcss/forms' and refactor
  app/globals.css
  app/upload/page.tsx
  bun.lockb
  components/imagePreview.tsx
  components/uploadFormHook.tsx
  package.json
  tailwind.config.ts
  yarn.lock
Labels: 📦dependencies, ✨feature, ⚙️config

#245 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies
