Repository OpenUp-LabTakizawa/dcrs, pull requests merged in 2024-03, with the labels that each got.

#250 🆙bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#251 🆙bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#247 ♻️refactor: ImageInput props
  components/imageInput.tsx
  components/imagePreview.tsx
  components/uploadFormHook.tsx
Labels: 📦dependencies

#244 Amending uploadform and etc.
  app/download/page.tsx
  components/imagePreview.tsx
  components/jsonView.tsx
  components/uploadFormHook.tsx
  components/useFormData.tsx
Labels: 📦dependencies, ✨feature

#257 ⚙️config: update mjs
  next.config.mjs
  tsconfig.json
Labels: ⚙️config

#256 🎨style: use `@import` instead of `@tailwind`
  app/globals.css
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ✨feature

#258 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#260 Display required alert at the form of image upload
  bun.lockb
  components/imageInput.tsx
  yarn.lock
Labels: 📦dependencies

#259 update downloadpage
  app/download/page.tsx
Labels: 📦dependencies, ✨feature

#262 🆙bump: version up project
  package.json
Labels: 📦dependencies

#263 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#267 ♻️refactor: simplify and minimum
  app/download/page.tsx
  app/upload/page.tsx
  components/imageInput.tsx
  components/jsonView.tsx
  components/profileForm.tsx
  components/uploadFormHook.tsx
  components/useFormData.tsx
Labels: ✨feature

#272 ♻️refactor: split `profileForm` function and sort css
  app/download/page.tsx
  app/page.test.tsx
  app/page.tsx
  app/upload/page.tsx
  components/profileForm.tsx
Labels: ✅test

#274 ✨feat: add unregister method
  bun.lockb
  components/profileForm.tsx
  package.json
  yarn.lock
Labels: 📦dependencies

#276 ♻️ci: add components folder
  .github/labeler.yml
  .github/workflows/bun-test.yml
  .github/workflows/cleanup-cashes.yml
  .github/workflows/lambda.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
Labels: ♻️ci

#280 ♻️ci: remove docker icon
  .github/labeler.yml
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, ♻️ci

#281 🆙bump: version up dependencies
  bun.lockb
  package.json
  postcss.config.cjs
  yarn.lock
Labels: 📦dependencies, ⚙️config

#282 ✨feat: add daisyUI
  .gitattributes
  app/globals.css
  bun.lockb
  package.json
  tailwind.config.ts
  yarn.lock
Labels: 📦dependencies, ✨feature, 🪸git, ⚙️config

#284 ✨feat: use next/image component
  components/profileForm.tsx
Labels: ✨feature

#286 ♻️refactor: move image function to another file
  bun.lockb
  components/imageUploader.tsx
  components/profileForm.tsx
  package.json
  yarn.lock
Labels: 📦dependencies, ✨feature

#287 🎨style: change title and unify input css
  app/upload/page.tsx
  components/profileForm.tsx
Labels: ✨feature

#288 ✨feat: add drag and drop feature
  components/imageUploader.tsx
Labels: ✨feature

#289 ✨feat: add upload size limit
  components/imageUploader.tsx
Labels: ✨feature

#291 ✨feat: add privacy policy agreement
  app/upload/page.tsx
  components/profileForm.tsx
Labels: ✨feature

#294 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#297 🆙bump: version up dependencies
  .gitignore
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, 🪸git

#299 ⚙️config: switch to postcss.config.mjs, add type
  .gitattributes
  postcss.config.cjs
  postcss.config.mjs
Labels: 🪸git, ⚙️config

#295 ✨feat: add confirm dialog
  app/components/footer.tsx
  app/components/homeButton.tsx
  app/components/step.tsx
  app/download/page.tsx
  app/form/confirmDialog.tsx
  app/form/imageUploader.tsx
  app/form/profileForm.tsx
  app/layout.tsx
  app/page.test.tsx
  app/page.tsx
  app/upload/page.tsx
  app/upload/success/page.tsx
  components/profileForm.tsx
  tailwind.config.ts
Labels: 📦dependencies, ✨feature, 🪸git, ⚙️config, ✅test

#302 🐳docker: polish Dockerfile
  Dockerfile
  bun.lockb
  package.json
  public/next.svg
  public/vercel.svg
  yarn.lock
Labels: 📦dependencies, docker, 🍱asset

#303 🐳docker: remove unused public folder
  Dockerfile
Labels: docker

#305 🆙bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#301 ✨feat: add scroll to top button
  app/components/homeBtn.tsx
  app/components/scrollToTop.tsx
  app/page.test.tsx
  app/page.tsx
  app/register/components/confirmDialog.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
  app/register/layout.tsx
  app/register/page.tsx
  app/register/success/page.tsx
  app/upload/success/page.tsx
Labels: 📦dependencies, ✨feature, ✅test

#306 ✨feat: show a cancel button of image
  app/register/components/imageUploader.tsx
Labels: ✨feature

#308 🆙bump: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#309 🚑fix: image size in the confirm dialog
  app/register/components/confirmDialog.tsx
Labels: ✨feature

#311 🆙bump: version up dependencies
  app/components/scrollToTop.tsx
  app/register/components/imageUploader.tsx
  app/register/components/profileForm.tsx
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, ✨feature

#313 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#317 🆙bump: version up dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#315 🚑fix: change agreement form style
  app/register/components/profileForm.tsx
Labels: 📦dependencies, ✨feature

#298 ✨feat: add prisma
  .env
  .gitignore
  app/api/user/route.tsx
  app/lib/prisma.ts
  app/register/components/confirmDialog.tsx
  app/register/components/profileForm.tsx
  app/users/page.tsx
  bun.lockb
  package.json
  prisma/migrations/20240327042100_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  yarn.lock
Labels: 📦dependencies, ✨feature, 🪸git, ⚙️config

#321 🆙bump: update dependencies
  app/users/page.tsx
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ✨feature
