Repository OpenUp-LabTakizawa/dcrs, pull requests merged in 2024-01, with the labels that each got.

#116 🧰ci: add autofix.ci
  .github/workflows/autofix.yml
  bun.lockb
  package.json
  yarn.lock
Labels: dependencies, ci

#117 📦upgrade: typescript v5.3.3
  bun.lockb
  package.json
  yarn.lock
Labels: dependencies

#119 🍱upgrade: biome nightly
  bun.lockb
  yarn.lock
Labels: dependencies

#122 📝docs: unify dev container
  README.md
  bun.lockb
  yarn.lock
Labels: documentation, dependencies

#123 🧰ci: add cleanup cashes
  .github/workflows/cleanup-cashes.yml
Labels: ci

#124 🧰ci: implement next.js build cashes
  .github/workflows/node-build.yml
Labels: ci

#126 📦bump: upgrade dependencies
  bun.lockb
  package.json
  yarn.lock
Labels: dependencies

#127 ♻️ci: update emoji
  .github/labeler.yml
  .github/release.yml
  CONTRIBUTING.md
Labels: 📝documentation, ♻️ci

#128 ♻️ci: implement grouped version update
  .github/dependabot.yml
Labels: ♻️ci

#129 🎨style: unify config files
  .github/workflows/bun-test.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
Labels: ♻️ci

#133 ♻️ci: bump biome
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, 🆚vscode, 🧰infrastructure

#134 📝docs: update biome logo
  README.md
Labels: 📝documentation

#135 🧰infra(biome): update biome settings
  README.md
  app/page.tsx
  biome.json
Labels: 📝documentation, ✨feature, 🧰infrastructure

#136 ♻️refactor(biome): change `explicit` to `true`
  .github/workflows/code-quality.yml
  .vscode/settings.json
Labels: 🆚vscode, ♻️ci

#137 🆙bump(types): update '@types/node@20.11.0'
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#139 🧰infra: update dependencies
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#141 🍱package: update dependencies
  yarn.lock
Labels: 📦dependencies

#142 🧰infra: update biome extension
  .devcontainer/devcontainer.json
Labels: 🧰infrastructure

#144 ♻️ci: autofix.ci update yarn.lock
  .github/workflows/autofix.yml
  yarn.lock
Labels: 📦dependencies, ♻️ci

#145 🧰infra: update devcontainer base image
  .devcontainer/devcontainer.json
Labels: 🧰infrastructure

#146 ♻️ci: unify coding rule
  .github/workflows/auto-assign.yml
  .github/workflows/autofix.yml
  .github/workflows/bun-test.yml
  .github/workflows/cleanup-cashes.yml
  .github/workflows/code-quality.yml
  .github/workflows/labeler.yml
  .github/workflows/node-build.yml
  .github/workflows/push-image.yml
Labels: ♻️ci

#147 ♻️ci: unify coding style
  .github/workflows/cleanup-cashes.yml
  .github/workflows/labeler.yml
Labels: ♻️ci

#150 🔧build: add lint script
  README.md
  package.json
Labels: 📝documentation, 📦dependencies

#152 ⚡perf: use turbopack
  package.json
Labels: 📦dependencies

#154 📦bump: update @types/bun
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#156 ♻️ci: prevent auto-assign in another repo
  .github/workflows/auto-assign.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#158 ✨feat: update metadata
  app/layout.tsx
Labels: 🚀enhancement, ✨feature

#159 ⚙️config: remove page path
  bun.lockb
  tailwind.config.ts
  yarn.lock
Labels: 📦dependencies, ⚙️config

#162 ♻️ci: add update job to autofix.yml
  .github/workflows/autofix.yml
  bun.lockb
  yarn.lock
Labels: 📦dependencies, ♻️ci

#163 ✨feat: add 'dev-win' script
  package.json
Labels: 📦dependencies

#165 📦bump: version up types/node
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#168 📦bump: version up @types/node
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies

#170 Redesigned landing page.
  app/page.tsx
Labels: ✨feature

#172 📦bump: use beta typescript
  bun.lockb
  package.json
  tsconfig.json
  yarn.lock
Labels: 📦dependencies, ⚙️config

#173 ✅test: add initial test
  app/page.test.tsx
  bun.lockb
  bunfig.toml
  happydom.ts
  package.json
  yarn.lock
Labels: 📦dependencies, ✨feature

#174 ♻️ci: add test label
  .github/labeler.yml
  .github/release.yml
Labels: ♻️ci

#175 ✨feat: change `a` to `Link` component
  app/page.tsx
Labels: ✨feature

#177 📦bump: version up @types/node
  bun.lockb
  yarn.lock
Labels: 📦dependencies

#178 🐳docker: update Dockerfile
  .dockerignore
  .github/dependabot.yml
  Dockerfile
  bun.lockb
  package.json
  yarn.lock
Labels: 📦dependencies, ♻️ci, 🐳docker
